[Unit]
Description= PTP Hardware Clock (PHC) service for camera4 (CAM_MR)
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/phc2sys -s enp103s0 -w
ExecStop=/usr/bin/pkill -f phc2sys
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target network-online.target
